<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/post">WebSiteName</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/post">Posts</a></li>
                    {% if app.session.get('username')!='' %}
                        <li><a href="/account/profile">My Profile</a></li>
                        <li><a href="/post/request/my_requests">My Requests</a></li>
                        <li><a href="/post/my_posts">My Posts</a></li>
                    {% endif %}
                </ul>
                {% if app.session.get('username')!='' %}
                    <div style="float:right; margin-top:10px;">Welcome, {{app.session.get('username')}}!<a class="btn btn-info" style="margin-left:10px;" href="/account/logout">Log out</a></div>
                {% else %}
                    <div style="float:right; margin:10px;" class="btn btn-info"><a href="/account/login">Log in</a></div>
                    <div style="float:right; margin:10px;" class="btn btn-success"><a href="/account/register">Register</a></div>
                {% endif %}
            </div>
        </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
